<div class="col-md-12 offset-md-1 mt-5">
  <div class="row">
    <%= render 'users/siderbar' %>
    <div class="col-md-6">
      <div class="h-100 p-5 text-black bg-light rounded-3">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <h3>フォローユーザーの投稿記事</h3>
            <div class="jscroll">
              <div class="row">
                <% @posts = Post.where(user_id: @follow_users).order(created_at: :desc).page(params[:page]).per(6) %>
                <% @posts.each do |p| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="width: 17rem; height: 28rem;">
                    <div class="card-img-wrap">
                      <%= link_to post_path(p.id), data: {"turbolinks" => false} do %>
                        <%= attachment_image_tag p, :image,fallback: "no_image.jpg", class: "card-image" %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <p class="card-title"><%= p.post_title.truncate(25) %></p>
                      <p  class="card-text">
                        <% p.tags.each do |t| %>
                          <p style="display: inline-flex;">#<%= t.tag_name.truncate(25) %></p>
                        <% end %>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <!--いいね機能-->
                      <div id="favorites_buttons_<%= p.id %>">
                        <%= render 'post_favorites/favorite', p: p %>
                      </div>
                      <%= link_to "詳細画面", post_path(p.id), data: {"turbolinks" => false} ,class: "btn btn-primary" %>
                      <small class="text-muted"><%= l p.created_at, format: :short %></small>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <%#= link_to_prev_page @posts, '前のページ', class: "prev" %>
              <%= link_to_next_page @posts, '次のページ', class: "next" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--無限スクロール-->
<script>
  $(document).on('turbolinks:load', function() {
  $('.jscroll').jscroll({
    contentSelector: '.jscroll',
    nextSelector: 'a.next',
    loadingHtml: '読み込み中'
  });
});
</script>