<div class='col-xs-9'>

  <div class="container pt-3">
    <!-- 検索フォーム -->
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form>
          <div class="input-group mb-3">
        <%= form_tag(search_user_path, :method => "get") do %>
        <%= text_field_tag :search_user, '', class: 'form-control', placeholder: "ユーザー検索" %>
        <%= submit_tag "Search" ,:first_name => nil ,:last_name => nil ,:last_name_kana => nil,:first_name_kana => nil,class: "btn btn-primary",value: "検索" %>
        <% end %>
        </div>
        </form>
      </div>
    </div>

    <%= render '/users/index', users: @users %>

    <%= paginate @users %>
    
  </div>
</div>