<div class="col-md-6 offset-md-3">
  <h2 class="text-center pt-5 pb-3">Profile</h2>
</div>
<!--ユーザーのプロフ詳細-->
<div class="col-md-6 offset-md-3">
  <div style="border: 1px solid; border-radius: 30px;">
    <%= render '/users/show', user: @user %>
  </div>
</div>
<!--ユーザーの投稿記事一覧-->
<div class="col-md-12 offset-md-3">
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 p-5 text-black bg-light rounded-3">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <div class="jscroll">
              <div class="row">
                <% @post.each do |p| %>
                <% if p.user_id == @user.id %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="width: 17rem; height: 28rem;">
                    <div class="card-img-wrap">
                      <%= link_to post_path(p.id) do %>
                      <%= attachment_image_tag p, :image,fallback: "no_image.jpg", class: "card-image" %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <p class="card-title">
                        <%= p.post_title.truncate(25) %>
                      </p>
                      <p class="card-text">
                        <% p.tags.each do |t| %>
                          <p style="display: inline-flex;"><span class="badge badge-info">#<%= t.tag_name.truncate(25) %></span></p>
                        <% end %>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                    <!--いいね機能-->
                      <div id="favorites_buttons_<%= p.id %>">
                        <%= render 'post_favorites/favorite', p: p %>
                      </div>
                      <%= link_to "詳細画面", post_path(p.id) ,class: "btn btn-primary"%>
                      <small class="text-muted"><%= l p.created_at, format: :short %></small>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <%#= link_to_prev_page @posts, '前のページ', class: "prev" %>
              <%= link_to_next_page @post, '次のページ', class: "next" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--無限スクロール-->
<script>
  $(document).on('turbolinks:load', function() {
  $('.jscroll').jscroll({
    contentSelector: '.jscroll',
    nextSelector: 'a.next',
    loadingHtml: '読み込み中'
  });
});
</script>