<h1>Users#show</h1>
<div>ユーザー情報詳細</div>

<div class="row align-items-md-stretch">

  <div class="col-md-3">
    <div class="user_image">
      <%= attachment_image_tag @user, :image,fallback: "no_image.jpg", size: "300x250"%>
    </div>
    <div>
      <%= link_to user_followings_path(@user) do %>
        フォロー数:<%= @user.followings.count %>
      <% end %>
    </div>
    <div>
      <%= link_to user_followers_path(@user) do %>
        フォロワー数: <%= @user.followers.count %>
      <% end %>
    </div>
    <div>
      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if @user.id == current_user.id %>
        <%= @msg %>
      <% else %>
        <% if @isRoom == true %>
          <p><%= link_to 'DMへ', room_path(@roomId) %></p>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e|%>
              <% e.hidden_field :user_id, value: @user.id %>
            <% end %>
          <%= f.submit "DMを開始する"%>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-7">
    <table>
      <tr>
        <div class="form-group">
          <th><label>フリガナ</label></th>
            <td>
              <%= @user.last_name_kana %>
              <%= @user.first_name_kana %>
            </td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>名前</label></th>
            <td>
              <%= @user.last_name %>
              <%= @user.first_name %>
            </td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>自己紹介</label></th>
            <td><%= @user.introduction %></td>
        </div>
      </tr>

      <tr>
        <div class="form-group">
          <th><label>経歴</label></th>
            <td><%= @user.career %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>趣味</label></th>
            <td><%= @user.hobby %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>興味のある分野</label></th>
            <td><%= @user.interest_field %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>休日の過ごし方</label></th>
            <td><%= @user.holiday %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>資格</label></th>
            <td><%= @user.qualification %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th><label>自由欄</label></th>
            <td><%= @user.free_space %></td>
        </div>
      </tr>
    </table>
    <% if @user.id == current_user.id %>
      <%= link_to "編集する" ,edit_user_path %>
    <% end %>
  </div>
</div>

<div class="col-md-12 offset-md-3">
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 p-5 text-black bg-light rounded-3">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <div class="row">
              <% @post.each do |p| %>
              <% if p.user_id == @user.id %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 17rem; height: 28rem;">
                  <div class="card-img-wrap">
                    <%= link_to post_path(p.id) do %>
                    <%= attachment_image_tag p, :image,fallback: "no_image.jpg", class: "card-image" %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <p class="card-title">
                      <%= p.post_title %>
                    </p>
                    <p class="card-text">
                      <% p.tags.each do |t| %>
                        <p style="display: inline-flex;">#<%= t.tag_name %></p>
                      <% end %>
                    </p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <!--いいね機能-->
                      <div id="favorites_buttons_<%= p.id %>">
                        <%= render 'post_favorites/favorite', p: p %>
                      </div>
                    <%= link_to "詳細画面", post_path(p.id) ,class: "btn btn-primary"%>
                    <small class="text-muted"><%= l p.created_at, format: :short %></small>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>