<h2 class="text-center pt-5">ログイン</h2>

<div>
  <div class="col-md-4 offset-md-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th><label>Email</label></th>
            <td></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "30x5" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th><label>Password</label></th>
            <td></td>
            <td><%= f.password_field :password, autocomplete: "current-password", :size => "30x5" %></td>
          </div>
        </tr>
      </table>
      
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
        <div class="actions">
          <%= f.submit "ログイン", class: "w-50 btn btn-lg btn-success" %>
        </div>
    <% end %>
  </div>
    <div class="text-center pt-4">
      <p>-----------------------もしくは-----------------------</p>
      <%= render "devise/shared/links" %>
    </div>
</div>


