<% content_for(:title, 'ブックマーク一覧') %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
       <div class="container pt-3">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form>
          <div class="input-group mb-3">
            <%= form_tag(boards_bookmarks_path, :method => "get") do %>
            <%= text_field_tag :bookmarks, '', class: 'form-control', placeholder: "投稿記事検索" %>
            <%= submit_tag "検索" ,:post_title => nil ,:post_text => nil ,:first_name => nil ,:last_name => nil,class: "btn btn-primary" %> 
            <% end %> 
          </div>
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
  <!-- 掲示板一覧 -->
<table>
  <p>ブックマーク一覧</p>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.post.user.first_name %></td>
        <td>
          <%= link_to post_path(bookmark.post) do %>
            <%= bookmark.post.post_title %>
          <% end %>
        </td>
        <td><%= bookmark.post.post_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>