<!-- 検索フォーム -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <form>
        <div class="input-group mb-3">
          <%= form_tag(boards_bookmarks_path, :method => "get") do %>
          <%= text_field_tag :bookmarks, '', class: 'form-control', placeholder: "投稿記事検索" %>
          <%= submit_tag "検索" ,:post_title => nil ,:post_text => nil ,:first_name => nil ,:last_name => nil,class: "btn btn-primary" %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</div>
<!--お気に入り一覧-->
<div class="col-md-12 offset-md-1 mt-5">
  <div class="row">
    <%= render 'users/siderbar' %>
    <div class="col-md-6">
      <div class="h-100 p-5 text-black bg-light rounded-3">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <h3>ブックマーク一覧</h3>
            <div class="jscroll">
              <div class="row">
                <% @bookmarks.each do |b| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="width: 17rem; height: 28rem;">
                    <div class="card-img-wrap">
                      <%= link_to post_path(b.post), data: {"turbolinks" => false} do %>
                        <%= attachment_image_tag b.post, :image,fallback: "no_image.jpg", class: "card-image" %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <p class="card-title"><%= b.post.post_title %></p>
                      <p  class="card-text">
                        <% b.post.tags.each do |t| %>
                          <p style="display: inline-flex;">#<%= t.tag_name %></p>
                        <% end %>
                      </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <!--いいね機能-->
                      <div id="favorites_buttons_<%= b.post.id %>">
                        <%= render 'post_favorites/favorite', p: b.post %>
                      </div>
                      <%= link_to "詳細画面", post_path(b.post), data: {"turbolinks" => false} ,class: "btn btn-primary" %>
                      <small class="text-muted"><%= l b.post.created_at, format: :short %></small>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
            <%#= link_to_prev_page @bookmarks, '前のページ', class: "prev" %>
            <%= link_to_next_page @bookmarks, '次のページ', class: "next" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--無限スクロール-->
<script>
  $(document).on('turbolinks:load', function() {
  $('.jscroll').jscroll({
    contentSelector: '.jscroll',
    nextSelector: 'a.next',
    loadingHtml: '読み込み中'
  });
});
</script>