<h1>Posts#index</h1>

<h2>投稿一覧</h2>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <% @post.each do |post| %>
        <div class="card shadow-sm">
          <%= attachment_image_tag post, :image,fallback: "no_image.jpg", size:"100x50" %>
          <div class="card-body">
            <p class="card-title">
              <%= post.post_title %>
            </p>
            <p class="card-text">
              <%= post.post_text %>
            </p>
              <!--いいね機能-->
            <% if post.favorited_by?(current_user) %>
              <p>
                <%= link_to post_post_favorites_path(post), method: :delete do %>
                  💙 <%= post.post_favorites.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to post_post_favorites_path(post), method: :post do %>
                  💙 <%= post.post_favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
            
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to "詳細画面", post_path(post.id) %>
          </div>
          <small class="text-muted"><%= l post.created_at, format: :short %></small>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
