<h2 class="text-center pt-5 pb-3">新規投稿</h2>

<% if @post.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-md-6 offset-md-2">
  <%= form_with model:@post, url:'/posts', local:true do |f| %>
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <table>
          <tr>
            <td><%= f.text_field :post_title,placeholder: "タイトル", :size => "70" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :tag_name ,placeholder: "ex)タグ 初めて=> #タグ #初めて" , :size => "70" %></td>
          </tr>
          <tr>
            <td><%= f.text_area :post_text,placeholder: "内容", :size => "73x10" %></td>
          </tr>
      </table>
    </div>

    <div class="col-md-5 offset-md-3">
      <table>
        <tr>
          <td><%= f.attachment_field :image %></td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-4">
      <table>
        <tr>
          <td><%= f.text_area :post_free_space,placeholder: "free_space", :size => "28x10" %></td>
        </tr>
      </table>
    </div>
    
    <div class="offset-md-10">
      <%= f.submit '新規作成',class: 'btn btn-success' %>
    </div>
  
  </div>
  <% end %>
</div>