<h1>Posts#show</h1>

<h2>投稿詳細</h2>


<div class='col-md-8 offset-md-1'>
        <table class='table table-hover table-inverse'>
          <!--削除機能-->
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
          <!--いいね機能-->
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_post_favorites_path(@post), method: :delete do %>
                💙 <%= @post.post_favorites.count %>いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_post_favorites_path(@post), method: :post do %>
                💙 <%= @post.post_favorites.count %>いいね
              <% end %>
            </p>
          <% end %>
         <!--お気に入り機能-->
          <% if @post.bookmarked_by?(current_user) %>
            <p><%= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete %></p>
          <% else %>
            <p><%= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %></p>
          <% end %>
          <%= link_to user_path(@post.user.id) do %>
            <%= @post.user.last_name %><%= @post.user.first_name %>
          <% end %>

          <div><%= l @post.created_at, format: :short %></div>
          <tr>
            <td>記事タイトル</td>
            <td><%= @post.post_title %></td>
          </tr>
          <tr>
            <td>タグ一覧</td>
            <td></td>
          </tr>
          <tr>
            <td>記事内容</td>
            <td><%= @post.post_text %></td>
          </tr>
          <tr>
            <td>画像</td>
            <td><%= attachment_image_tag @post, :image,fallback: "no_image.jpg", size:"100x50" %></td>
          </tr>
          <tr>
            <td>自由欄</td>
            <td><%= @post.post_free_space %></td>
          </tr>
        </table>
        <!--コメント機能-->
        <div><p>コメント欄</p></div>
        <div class="comments">
          <p>コメント件数:<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <%= post_comment.user.last_name%><%= post_comment.user.first_name%>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% end %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@post, @post_comment],local:true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
          <% end %>
        </div>
  </div>
