<h2 class="text-center pt-5">お問い合わせ</h2>
  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-4 offset-md-4">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
    <table>
      <tr>
        <div class="form-group">
          <th>名前<label>(必須)</label></th>
          <td><%= f.text_field :name, autocomplete: "お名前", :size => "40x5" %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th>メールアドレス<label>(必須)</label></th>
          <td><%= f.text_field :email, autocomplete: "メールアドレス", :size => "40x5" %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th>お問い合わせ内容<label></label></th>
          <td><%= f.text_area :message, autocomplete: "例）ログインできない", :size => "43x6" %></td>
        </div>
      </tr>
    </table>
    <div class="text-center pt-4">
      <%= f.submit '確認', class: 'w-50 btn btn-primary' %>
    </div>
    <% end %>
  </div>