<h2 class="text-center pt-5">お問い合わせ</h2>
<!--エラーメッセージ-->
  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--入力フォーム-->
  <div class="col-md-5 offset-md-4">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
    <div class="col-md-12">
      <tr>
        <th><label class="col-md-3">名前(必須)</label></th>
        <td><%= f.text_field :name, autocomplete: "お名前", :size => "35" %></td>
      </tr>
    </div>
    <div class="col-md-12">
      <tr>
        <th><label class="col-md-3">Email(必須)</label></th>
        <td><%= f.text_field :email, autocomplete: "メールアドレス", :size => "35" %></td>
      </tr>
    </div>
    <div class="col-md-12">
      <tr>
        <th><label class="col-md-3">お問い合わせ内容</label></th>
        <td><%= f.text_area :message, placeholder: "例）ログインできない", :size => "37x6" %></td>
      </tr>
    </div>
    <div class="text-center pt-4">
      <%= f.submit '確認', class: 'w-50 btn btn-primary' %>
    </div>
    <% end %>
  </div>