<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "投稿記事", posts_path, class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "お気に入り記事", "#", class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "チャット部屋", "#", class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "検索", "#", class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'text-light'  %>
</li>