<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; color: red;">
  <%= notice %>
</li>

<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to search_user_path, data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-users faa-wrench animated-hover"></i>
  <% end %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to posts_path, data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-paste faa-wrench animated-hover"></i>
  <% end %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to boards_bookmarks_path, data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-bookmark faa-wrench animated-hover"></i>
  <% end %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to rooms_path, data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-comments faa-wrench animated-hover"></i>
  <% end %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to finder_path, data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-search faa-wrench animated-hover"></i>
  <% end %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to destroy_user_session_path, method: :delete,data: {"turbolinks" => false},class: 'text-light' do %>
    <i class="fas fa-sign-out-alt faa-wrench animated-hover"></i>
  <% end %>
</li>