<!DOCTYPE html>
<html>
  <head>
    <title>EME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/40db371c68.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'layouts/header' %>   <!--ヘッダー-->

    <%= yield %>

    <%= render 'layouts/footer' %>   <!--フッター-->
  </body>
</html>
