<!DOCTYPE html>
<html>
  <head>
    <title>EME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/40db371c68.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
  </head>

  <body>
    <%= render 'layouts/header' %>   <!--ヘッダー-->
    <%#= render 'layouts/siderbar' %>

    <%= yield %>

    <div id="smooth-scroll">
      <div style="text-align: right; margin-right: 60px;">
      <i class="fas fa-arrow-up fa-3x"></i>
      </div>
    </div>

    <%= render 'layouts/footer' %>   <!--フッター-->
  </body>
</html>
